**Group by Mechanics**

In [ ]:
import pandas as pd

In [ ]:
url='https://raw.githubusercontent.com/ShilpaSayuraML/EDA-Exploratory-Data-Analysis/master/Chapter%205/data.csv'
df=pd.read_csv(url)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

As you can see there are multiple columns with categoical variable. Using groupby() function lets group these data set on the basis of body-style.

In [ ]:
#groups dataframe according to body-style and prints the keys of groups
df.groupby('body-style').groups.keys()

dict_keys(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'])

In [ ]:
style = df.groupby('body-style')
#To print the values contained in group convertible
style.get_group("convertible")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
72,3,142,mercedes-benz,gas,std,two,convertible,rwd,front,96.6,...,234,mpfi,3.46,3.1,8.3,155,4750,16,18,35056
128,3,?,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,37028
172,2,134,toyota,gas,std,two,convertible,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,17669
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.5,90,5500,24,29,11595

In [ ]:
double_grouping = df.groupby(["body-style","drive-wheels"])
#To print the first values contained in each group
double_grouping.first()

                          symboling normalized-losses           make  \
body-style  drive-wheels
convertible fwd                   3                 ?     volkswagen
            rwd                   3                 ?    alfa-romero
hardtop     fwd                   2               168         nissan
            rwd                   0                93  mercedes-benz
hatchback   4wd                   0                 ?           audi
            fwd                   2               121      chevrolet
            rwd                   1                 ?    alfa-romero
sedan       4wd                   2               164           audi
            fwd                   2               164           audi
            rwd                   2               192            bmw
wagon       4wd                   0                85         subaru
            fwd                   1                 ?           audi
            rwd                  -1                93  mercedes-benz

                         fuel-type aspiration num-of-doors engine-location  \
body-style  drive-wheels
convertible fwd                gas        std          two           front
            rwd                gas        std          two           front
hardtop     fwd                gas        std          two           front
            rwd             diesel      turbo          two           front
hatchback   4wd                gas      turbo          two           front
            fwd                gas        std          two           front
            rwd                gas        std          two           front
sedan       4wd                gas        std         four           front
            fwd                gas        std         four           front
            rwd                gas        std          two           front
wagon       4wd                gas        std         four           front
            fwd                gas        std         four           front
            rwd             diesel      turbo         four           front

                          wheel-base  length  width  ...  engine-size  \
body-style  drive-wheels                             ...
convertible fwd                 94.5   159.3   64.2  ...          109
            rwd                 88.6   168.8   64.1  ...          130
hardtop     fwd                 95.1   162.4   63.8  ...           97
            rwd                106.7   187.5   70.3  ...          183
hatchback   4wd                 99.5   178.2   67.9  ...          131
            fwd                 88.4   141.1   60.3  ...           61
            rwd                 94.5   171.2   65.5  ...          152
sedan       4wd                 99.4   176.6   66.4  ...          136
            fwd                 99.8   176.6   66.2  ...          109
            rwd                101.2   176.8   64.8  ...          108
wagon       4wd                 96.9   173.6   65.4  ...          108
            fwd                105.8   192.7   71.4  ...          136
            rwd                110.0   190.9   70.3  ...          183

                          fuel-system  bore stroke  compression-ratio  \
body-style  drive-wheels
convertible fwd                  mpfi  3.19    3.4                8.5
            rwd                  mpfi  3.47   2.68                9.0
hardtop     fwd                  2bbl  3.15   3.29                9.4
            rwd                   idi  3.58   3.64               21.5
hatchback   4wd                  mpfi  3.13    3.4                7.0
            fwd                  2bbl  2.91   3.03                9.5
            rwd                  mpfi  2.68   3.47                9.0
sedan       4wd                  mpfi  3.19    3.4                8.0
            fwd                  mpfi  3.19    3.4               10.0
            rwd                  mpfi   3.5    2.8                8.8
wagon       4wd                  2bbl  3.62   2.64                9.0
            fwd                  mpfi  3.19    3.4                8.5
            rwd                   idi  3.58   3.64               21.5

                         horsepower peak-rpm city-mpg  highway-mpg  price
body-style  drive-wheels
convertible fwd                  90     5500       24           29  11595
            rwd                 111     5000       21           27  13495
hardtop     fwd                  69     5200       31           37   8249
            rwd                 123     4350       22           25  28176
hatchback   4wd                 160     5500       16           22      ?
            fwd                  48     5100       47           53   5151
            rwd                 154     5000       19           26  16500
sedan       4wd                 115     5500       18           22  17450
            fwd                 102     5500       24           30  13950
            rwd                 101     5800       23           29  16430
wagon       4wd                  82     4800       23           29   8013
            fwd                 110     5500       19           25  18920
            rwd                 123     4350       22           25  28248

[13 rows x 24 columns]

In [ ]:
# max() will print the maximum entry of each group 
style['normalized-losses'].max()
# min() will print the minimum entry of each group 
style['normalized-losses'].min()

body-style
convertible    134
hardtop        134
hatchback      101
sedan          102
wagon          103
Name: normalized-losses, dtype: object

In [ ]:

# style['normalized-losses'].min() will print output in series 
style['normalized-losses'].min()

# style[['normalized-losses']].min() will print output in data frame 
style[['normalized-losses']].min()

            normalized-losses
body-style
convertible               134
hardtop                   134
hatchback                 101
sedan                     102
wagon                     103

In [ ]:
# mean() will print mean of numerical column in each group
style.mean()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
body-style,,,,,,,,,,
convertible,2.833333,92.700000,170.383333,65.583333,51.433333,2801.666667,157.166667,8.933333,20.500000,26.000000
hardtop,1.875000,98.500000,176.937500,66.612500,52.850000,2810.625000,176.250000,10.725000,21.625000,27.250000
hatchback,1.585714,95.535714,166.592857,65.247143,52.108571,2348.185714,114.400000,9.027429,26.314286,32.171429
sedan,0.333333,100.619792,177.585417,66.260417,54.337500,2610.593750,130.822917,10.937500,25.322917,30.833333
wagon,-0.160000,102.156000,181.304000,66.256000,56.728000,2784.240000,123.840000,10.316000,24.040000,28.720000

In [ ]:
# get mean of each column of specific group
style.get_group("convertible").mean()

<ipython-input-13-85273b1881fb>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  style.get_group("convertible").mean()

symboling            2.833333e+00
wheel-base           9.270000e+01
length               1.703833e+02
width                6.558333e+01
height               5.143333e+01
curb-weight          2.801667e+03
engine-size          1.571667e+02
compression-ratio    8.933333e+00
horsepower           1.851853e+15
peak-rpm             8.334167e+22
city-mpg             2.050000e+01
highway-mpg          2.600000e+01
price                2.249194e+28
dtype: float64

In [ ]:
# get the sum of the price for each body-style group
style['price'].sum()

body-style
convertible                       134951650035056370281766911595
hardtop                    2817645400824932528340288449963911199
hatchback      16500?5151629555726377795762291296464796855539...
sedan          1395017450152501771023875164301692520970211052...
wagon          1892089217295282487349799914399124401386016695...
Name: price, dtype: object

In [ ]:
# get the number of symboling/records in each group
style['symboling'].count()

body-style
convertible     6
hardtop         8
hatchback      70
sedan          96
wagon          25
Name: symboling, dtype: int64

# Merging on Index

In [ ]:
from IPython.display import display_html

def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [ ]:
import pandas as pd

left1 = pd.DataFrame({'key': ['apple','ball','apple', 'apple', 'ball', 'cat'], 'value': range(6)})
right1 = pd.DataFrame({'group_val': [33.4, 5]}, index=['apple', 'ball'])
display_side_by_side(left1,right1)

df1 = pd.merge(left1, right1, left_on='key', right_index=True)
df1

     key  value  group_val
0  apple      0       33.4
2  apple      2       33.4
3  apple      3       33.4
1   ball      1        5.0
4   ball      4        5.0

In [ ]:
df2 = pd.merge(left1, right1, left_on='key', right_index=True, how='outer')
df2

     key  value  group_val
0  apple      0       33.4
2  apple      2       33.4
3  apple      3       33.4
1   ball      1        5.0
4   ball      4        5.0
5    cat      5        NaN

# Concatenating along an axis

In [ ]:
import numpy as np

yarra = np.arange(15).reshape((3,5))
yarra

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [ ]:
 np.concatenate([yarra, yarra], axis=1)

array([[ 0,  1,  2,  3,  4,  0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 10, 11, 12, 13, 14]])

**Data Aggregation**

In [ ]:

# new dataframe that consist length,width,height,curb-weight and price
new_dataset = df.filter(["length","width","height","curb-weight","price"],axis=1)
new_dataset

     length  width  height  curb-weight  price
0     168.8   64.1    48.8         2548  13495
1     168.8   64.1    48.8         2548  16500
2     171.2   65.5    52.4         2823  16500
3     176.6   66.2    54.3         2337  13950
4     176.6   66.4    54.3         2824  17450
..      ...    ...     ...          ...    ...
200   188.8   68.9    55.5         2952  16845
201   188.8   68.8    55.5         3049  19045
202   188.8   68.9    55.5         3012  21485
203   188.8   68.9    55.5         3217  22470
204   188.8   68.9    55.5         3062  22625

[205 rows x 5 columns]

In [ ]:

# applying single aggregation for mean over the columns
new_dataset.agg("mean", axis="rows")

length          174.049268
width            65.907805
height           53.724878
curb-weight    2555.565854
dtype: float64

In [ ]:
# applying aggregation sum and minimun across all the columns 
new_dataset.agg(['sum', 'min'])

      length  ...                                              price
sum  35680.1  ...  134951650016500139501745015250177101892023875?...
min    141.1  ...                                              10198

[2 rows x 5 columns]

In [ ]:
# find aggregation for these columns 
new_dataset.aggregate({"length":['sum', 'min'], 
              "width":['max', 'min'], 
              "height":['min', 'sum'],  
              "curb-weight":['sum']}) 
# if any specific aggregation is not applied on a column
# then it has NaN value corresponding to it

      length  width   height  curb-weight
max      NaN   72.3      NaN          NaN
min    141.1   60.3     47.8          NaN
sum  35680.1    NaN  11013.6     523891.0

In [ ]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [ ]:
df['price'].str.isnumeric().value_counts()
df['price'].loc[df['price'].str.isnumeric() == False]
price = df['price'].loc[df['price'] != '?']
pmean = price.astype(str).astype(int).mean()
df['price'] = df['price'].replace('?',pmean).astype(int)

df.groupby(["body-style","drive-wheels"]).agg({'height': min, 'length': max, 'price': 'mean'})

                          height  length         price
body-style  drive-wheels
convertible fwd             55.6   159.3  11595.000000
            rwd             48.8   180.3  23949.600000
hardtop     fwd             53.3   162.4   8249.000000
            rwd             51.6   199.2  24202.714286
hatchback   4wd             52.0   178.2  10405.000000
            fwd             49.4   186.6   8396.387755
            rwd             49.6   183.5  14278.263158
sedan       4wd             54.3   176.6  12647.333333
            fwd             50.6   192.7   9930.929825
            rwd             47.8   208.1  21711.833333
wagon       4wd             54.9   173.6   9095.750000
            fwd             53.0   192.7   9997.333333
            rwd             54.1   198.9  16994.222222

**Group-wise operations**

In [ ]:

# Group the data frame df by body-style and drive-wheels and extract stats from each group
df.groupby(
   ["body-style","drive-wheels"]
).agg(
    {
         'height': min,    # minimum height of car in each group
         'length': max,  # maximum length of car in each group
         'price': 'mean',  # average price of car in each group
        
    }
)

                          height  length         price
body-style  drive-wheels
convertible fwd             55.6   159.3  11595.000000
            rwd             48.8   180.3  23949.600000
hardtop     fwd             53.3   162.4   8249.000000
            rwd             51.6   199.2  24202.714286
hatchback   4wd             52.0   178.2  10405.000000
            fwd             49.4   186.6   8396.387755
            rwd             49.6   183.5  14278.263158
sedan       4wd             54.3   176.6  12647.333333
            fwd             50.6   192.7   9930.929825
            rwd             47.8   208.1  21711.833333
wagon       4wd             54.9   173.6   9095.750000
            fwd             53.0   192.7   9997.333333
            rwd             54.1   198.9  16994.222222

In [ ]:
# create dictionary of aggregrations
aggregations=(
    {
         'height':min,    # minimum height of car in each group
         'length': max,  # maximum length of car in each group
         'price': 'mean',  # average price of car in each group
        
    }
)
# implementing aggregations in groups
df.groupby(
   ["body-style","drive-wheels"]
).agg(aggregations)

                          height  length         price
body-style  drive-wheels
convertible fwd             55.6   159.3  11595.000000
            rwd             48.8   180.3  23949.600000
hardtop     fwd             53.3   162.4   8249.000000
            rwd             51.6   199.2  24202.714286
hatchback   4wd             52.0   178.2  10405.000000
            fwd             49.4   186.6   8396.387755
            rwd             49.6   183.5  14278.263158
sedan       4wd             54.3   176.6  12647.333333
            fwd             50.6   192.7   9930.929825
            rwd             47.8   208.1  21711.833333
wagon       4wd             54.9   173.6   9095.750000
            fwd             53.0   192.7   9997.333333
            rwd             54.1   198.9  16994.222222

We can use numpy functions in aggregation as well

In [ ]:
# import the numpy library as np
import numpy as np
# using numpy libraries for operations
df.groupby(
   ["body-style","drive-wheels"])["price"].agg([np.sum, np.mean, np.std])

                             sum          mean           std
body-style  drive-wheels
convertible fwd            11595  11595.000000           NaN
            rwd           119748  23949.600000  11165.099700
hardtop     fwd             8249   8249.000000           NaN
            rwd           169419  24202.714286  14493.311190
hatchback   4wd            20810  10405.000000   3962.626402
            fwd           411423   8396.387755   3004.675695
            rwd           271287  14278.263158   3732.860727
sedan       4wd            37942  12647.333333   4280.814681
            fwd           566063   9930.929825   3513.098067
            rwd           781626  21711.833333   9194.820239
wagon       4wd            36383   9095.750000   1775.652063
            fwd           119968   9997.333333   3584.185551
            rwd           152948  16994.222222   4686.703313

**Renaming grouped aggregation columns**

In [ ]:
df.groupby(
   ["body-style","drive-wheels"]).agg(
    # Get max of the price column for each group
    max_price=('price', max),
    # Get min of the price column for each group
    min_price=('price', min),
    # Get sum of the price column for each group
    total_price=('price', 'mean')
      
)

                          max_price  min_price   total_price
body-style  drive-wheels
convertible fwd               11595      11595  11595.000000
            rwd               37028      13495  23949.600000
hardtop     fwd                8249       8249   8249.000000
            rwd               45400       8449  24202.714286
hatchback   4wd               13207       7603  10405.000000
            fwd               18150       5118   8396.387755
            rwd               22018       8238  14278.263158
sedan       4wd               17450       9233  12647.333333
            fwd               23875       5499   9930.929825
            rwd               41315       6785  21711.833333
wagon       4wd               11694       7898   9095.750000
            fwd               18920       6918   9997.333333
            rwd               28248      12440  16994.222222

**Group-wise transformations**

In [ ]:
df["price"]=df["price"].transform(lambda x:x + x/10)
df.loc[:,'price']

0      14844.5
1      18150.0
2      18150.0
3      15345.0
4      19195.0
        ...
200    18529.5
201    20949.5
202    23633.5
203    24717.0
204    24887.5
Name: price, Length: 205, dtype: float64

Let's observe average price of cars for each grouping by body-style and drive-wheels

In [ ]:
df.groupby(["body-style","drive-wheels"])["price"].transform('mean')

0      26344.560000
1      26344.560000
2      15706.089474
3      10924.022807
4      13912.066667
           ...
200    23883.016667
201    23883.016667
202    23883.016667
203    23883.016667
204    23883.016667
Name: price, Length: 205, dtype: float64

In [ ]:
df["average-price"]=df.groupby(["body-style","drive-wheels"])["price"].transform('mean')
# selectiing columns body-style,drive-wheels,price and average-price
df.loc[:,["body-style","drive-wheels","price","average-price"]]

      body-style drive-wheels    price  average-price
0    convertible          rwd  14844.5   26344.560000
1    convertible          rwd  18150.0   26344.560000
2      hatchback          rwd  18150.0   15706.089474
3          sedan          fwd  15345.0   10924.022807
4          sedan          4wd  19195.0   13912.066667
..           ...          ...      ...            ...
200        sedan          rwd  18529.5   23883.016667
201        sedan          rwd  20949.5   23883.016667
202        sedan          rwd  23633.5   23883.016667
203        sedan          rwd  24717.0   23883.016667
204        sedan          rwd  24887.5   23883.016667

[205 rows x 4 columns]

**Pivot Tables and Cross-Tabulations**

In [ ]:
new_dataset1 = df.filter(["body-style","drive-wheels",
                          "length","width","height","curb-weight","price"],axis=1)
#simplest pivot table with dataframe df and index body-style
table = pd.pivot_table(new_dataset1, index =["body-style"]) 
table

             curb-weight     height      length         price      width
body-style
convertible  2801.666667  51.433333  170.383333  24079.550000  65.583333
hardtop      2810.625000  52.850000  176.937500  24429.350000  66.612500
hatchback    2348.185714  52.108571  166.592857  11055.314286  65.247143
sedan        2610.593750  54.337500  177.585417  15877.021875  66.260417
wagon        2784.240000  56.728000  181.304000  13609.156000  66.256000

In [ ]:
#pivot table with dataframe df and index body-style and drive-wheels
table = pd.pivot_table(new_dataset1, index =["body-style","drive-wheels"]) 
table

                          curb-weight     height  ...         price      width
body-style  drive-wheels                          ...
convertible fwd           2254.000000  55.600000  ...  12754.500000  64.200000
            rwd           2911.200000  50.600000  ...  26344.560000  65.860000
hardtop     fwd           2008.000000  53.300000  ...   9073.900000  63.800000
            rwd           2925.285714  52.785714  ...  26622.985714  67.014286
hatchback   4wd           2646.500000  53.850000  ...  11445.500000  65.850000
            fwd           2181.551020  52.442857  ...   9236.026531  64.671429
            rwd           2746.526316  51.063158  ...  15706.089474  66.668421
sedan       4wd           2573.000000  54.300000  ...  13912.066667  65.733333
            fwd           2298.228070  53.887719  ...  10924.022807  65.326316
            rwd           3108.305556  55.052778  ...  23883.016667  67.783333
wagon       4wd           2617.500000  57.000000  ...  10005.325000  64.500000
            fwd           2464.333333  56.008333  ...  10997.066667  65.533333
            rwd           3284.888889  57.566667  ...  18693.644444  68.000000

[13 rows x 5 columns]

In [ ]:
# import numpy for aggregration function
import numpy as np

#new data set with few columns
new_dataset3 = df.filter(["body-style","drive-wheels","price"],axis=1)

# pivot table with dataset new_dataset2
# values are the column in which aggregration function is to be applied
# index is column for grouping of data
# columns for specifying category of data 
# aggfunc is the aggregration function to be applied
# fill_value to fill missing values
table = pd.pivot_table(new_dataset3, values='price', index=["body-style"],
                       columns=["drive-wheels"],aggfunc=np.mean,fill_value=0)
table

drive-wheels           4wd           fwd           rwd
body-style
convertible       0.000000  12754.500000  26344.560000
hardtop           0.000000   9073.900000  26622.985714
hatchback     11445.500000   9236.026531  15706.089474
sedan         13912.066667  10924.022807  23883.016667
wagon         10005.325000  10997.066667  18693.644444

In [ ]:
table = pd.pivot_table(new_dataset1, values=['price','height','width'],
                       index =["body-style","drive-wheels"],
                       aggfunc={'price': np.mean,'height': [min, max],'width': [min, max]},
                       fill_value=0)
table

                         height               price width
                            max   min          mean   max   min
body-style  drive-wheels
convertible fwd            55.6  55.6  12754.500000  64.2  64.2
            rwd            53.0  48.8  26344.560000  70.5  64.1
hardtop     fwd            53.3  53.3   9073.900000  63.8  63.8
            rwd            55.4  51.6  26622.985714  72.0  65.0
hatchback   4wd            55.7  52.0  11445.500000  67.9  63.8
            fwd            56.1  49.4   9236.026531  66.6  60.3
            rwd            54.8  49.6  15706.089474  72.3  64.0
sedan       4wd            54.3  54.3  13912.066667  66.4  65.4
            fwd            56.1  50.6  10924.022807  71.4  62.5
            rwd            56.7  47.8  23883.016667  71.7  61.8
wagon       4wd            59.1  54.9  10005.325000  65.4  63.6
            fwd            59.8  53.0  10997.066667  71.4  63.6
            rwd            58.7  54.1  18693.644444  70.3  66.5

**Cross-Tabulations**

In [ ]:
# apply pd.crosstab() function in data frame df
pd.crosstab(df["make"], df["body-style"])

body-style     convertible  hardtop  hatchback  sedan  wagon
make
alfa-romero              2        0          1      0      0
audi                     0        0          1      5      1
bmw                      0        0          0      8      0
chevrolet                0        0          2      1      0
dodge                    0        0          5      3      1
honda                    0        0          7      5      1
isuzu                    0        0          1      3      0
jaguar                   0        0          0      3      0
mazda                    0        0         10      7      0
mercedes-benz            1        2          0      4      1
mercury                  0        0          1      0      0
mitsubishi               0        0          9      4      0
nissan                   0        1          5      9      3
peugot                   0        0          0      7      4
plymouth                 0        0          4      2      1
porsche                  1        2          2      0      0
renault                  0        0          1      0      1
saab                     0        0          3      3      0
subaru                   0        0          3      5      4
toyota                   1        3         14     10      4
volkswagen               1        0          1      9      1
volvo                    0        0          0      8      3

In [ ]:
# apply margins and margins_name attribute to displays the row wise 
# and column wise sum of the cross table
pd.crosstab(df["make"], df["body-style"],margins=True,margins_name="Total Made")

body-style     convertible  hardtop  hatchback  sedan  wagon  Total Made
make
alfa-romero              2        0          1      0      0           3
audi                     0        0          1      5      1           7
bmw                      0        0          0      8      0           8
chevrolet                0        0          2      1      0           3
dodge                    0        0          5      3      1           9
honda                    0        0          7      5      1          13
isuzu                    0        0          1      3      0           4
jaguar                   0        0          0      3      0           3
mazda                    0        0         10      7      0          17
mercedes-benz            1        2          0      4      1           8
mercury                  0        0          1      0      0           1
mitsubishi               0        0          9      4      0          13
nissan                   0        1          5      9      3          18
peugot                   0        0          0      7      4          11
plymouth                 0        0          4      2      1           7
porsche                  1        2          2      0      0           5
renault                  0        0          1      0      1           2
saab                     0        0          3      3      0           6
subaru                   0        0          3      5      4          12
toyota                   1        3         14     10      4          32
volkswagen               1        0          1      9      1          12
volvo                    0        0          0      8      3          11
Total Made               6        8         70     96     25         205

In [ ]:
pd.crosstab([df["make"],df["num-of-doors"]], [df["body-style"],df["drive-wheels"]],
            margins=True,margins_name="Total Made")

body-style                 convertible     hardtop      ... wagon         Total Made
drive-wheels                       fwd rwd     fwd rwd  ...   4wd fwd rwd
make          num-of-doors                              ...
alfa-romero   two                    0   2       0   0  ...     0   0   0          3
audi          four                   0   0       0   0  ...     0   1   0          5
              two                    0   0       0   0  ...     0   0   0          2
bmw           four                   0   0       0   0  ...     0   0   0          5
              two                    0   0       0   0  ...     0   0   0          3
chevrolet     four                   0   0       0   0  ...     0   0   0          1
              two                    0   0       0   0  ...     0   0   0          2
dodge         ?                      0   0       0   0  ...     0   0   0          1
              four                   0   0       0   0  ...     0   1   0          4
              two                    0   0       0   0  ...     0   0   0          4
honda         four                   0   0       0   0  ...     0   1   0          5
              two                    0   0       0   0  ...     0   0   0          8
isuzu         four                   0   0       0   0  ...     0   0   0          2
              two                    0   0       0   0  ...     0   0   0          2
jaguar        four                   0   0       0   0  ...     0   0   0          2
              two                    0   0       0   0  ...     0   0   0          1
mazda         ?                      0   0       0   0  ...     0   0   0          1
              four                   0   0       0   0  ...     0   0   0          7
              two                    0   0       0   0  ...     0   0   0          9
mercedes-benz four                   0   0       0   0  ...     0   0   1          5
              two                    0   1       0   2  ...     0   0   0          3
mercury       two                    0   0       0   0  ...     0   0   0          1
mitsubishi    four                   0   0       0   0  ...     0   0   0          4
              two                    0   0       0   0  ...     0   0   0          9
nissan        four                   0   0       0   0  ...     0   3   0          9
              two                    0   0       1   0  ...     0   0   0          9
peugot        four                   0   0       0   0  ...     0   0   4         11
plymouth      four                   0   0       0   0  ...     0   1   0          4
              two                    0   0       0   0  ...     0   0   0          3
porsche       two                    0   1       0   2  ...     0   0   0          5
renault       four                   0   0       0   0  ...     0   1   0          1
              two                    0   0       0   0  ...     0   0   0          1
saab          four                   0   0       0   0  ...     0   0   0          3
              two                    0   0       0   0  ...     0   0   0          3
subaru        four                   0   0       0   0  ...     2   2   0          9
              two                    0   0       0   0  ...     0   0   0          3
toyota        four                   0   0       0   0  ...     2   1   1         18
              two                    0   1       0   3  ...     0   0   0         14
volkswagen    four                   0   0       0   0  ...     0   1   0          8
              two                    1   0       0   0  ...     0   0   0          4
volvo         four                   0   0       0   0  ...     0   0   3         11
Total Made                           1   5       1   7  ...     4  12   9        205

[42 rows x 14 columns]

In [ ]:
# rename the columns and row index for better understanding of crosstab
pd.crosstab([df["make"],df["num-of-doors"]], [df["body-style"],df["drive-wheels"]],
            rownames=['Auto Manufacturer', "Doors"],
            colnames=['Body Style', "Drive Type"],
            margins=True,margins_name="Total Made").head()

Body Style              convertible     hardtop      ... wagon         Total Made
Drive Type                      fwd rwd     fwd rwd  ...   4wd fwd rwd
Auto Manufacturer Doors                              ...
alfa-romero       two             0   2       0   0  ...     0   0   0          3
audi              four            0   0       0   0  ...     0   1   0          5
                  two             0   0       0   0  ...     0   0   0          2
bmw               four            0   0       0   0  ...     0   0   0          5
                  two             0   0       0   0  ...     0   0   0          3

[5 rows x 14 columns]

In [ ]:
# values are the column in which aggregration function is to be applied
# aggfunc is the aggregration function to be applied
# round() to round the output

pd.crosstab(df["make"], df["body-style"],values=df["curb-weight"],
            aggfunc='mean').round(0)

body-style     convertible  hardtop  hatchback   sedan   wagon
make
alfa-romero         2548.0      NaN     2823.0     NaN     NaN
audi                   NaN      NaN     3053.0  2720.0  2954.0
bmw                    NaN      NaN        NaN  2929.0     NaN
chevrolet              NaN      NaN     1681.0  1909.0     NaN
dodge                  NaN      NaN     2132.0  2056.0  2535.0
honda                  NaN      NaN     1970.0  2289.0  2024.0
isuzu                  NaN      NaN     2734.0  2040.0     NaN
jaguar                 NaN      NaN        NaN  4027.0     NaN
mazda                  NaN      NaN     2254.0  2361.0     NaN
mercedes-benz       3685.0   3605.0        NaN  3731.0  3750.0
mercury                NaN      NaN     2910.0     NaN     NaN
mitsubishi             NaN      NaN     2377.0  2394.0     NaN
nissan                 NaN   2008.0     2740.0  2238.0  2452.0
peugot                 NaN      NaN        NaN  3143.0  3358.0
plymouth               NaN      NaN     2208.0  2090.0  2535.0
porsche             2800.0   2756.0     3072.0     NaN     NaN
renault                NaN      NaN     2460.0     NaN  2579.0
saab                   NaN      NaN     2724.0  2767.0     NaN
subaru                 NaN      NaN     2137.0  2314.0  2454.0
toyota              2975.0   2585.0     2370.0  2338.0  2708.0
volkswagen          2254.0      NaN     2221.0  2342.0  2563.0
volvo                  NaN      NaN        NaN  3023.0  3078.0

In [ ]:
# top ten output that represents the percentage of occurrence of the combination 
pd.crosstab(df["make"], df["body-style"],normalize=True).head(10)

body-style     convertible   hardtop  hatchback     sedan     wagon
make
alfa-romero       0.009756  0.000000   0.004878  0.000000  0.000000
audi              0.000000  0.000000   0.004878  0.024390  0.004878
bmw               0.000000  0.000000   0.000000  0.039024  0.000000
chevrolet         0.000000  0.000000   0.009756  0.004878  0.000000
dodge             0.000000  0.000000   0.024390  0.014634  0.004878
honda             0.000000  0.000000   0.034146  0.024390  0.004878
isuzu             0.000000  0.000000   0.004878  0.014634  0.000000
jaguar            0.000000  0.000000   0.000000  0.014634  0.000000
mazda             0.000000  0.000000   0.048780  0.034146  0.000000
mercedes-benz     0.004878  0.009756   0.000000  0.019512  0.004878